# Dependencias (Nunca subir esto, Vercel las instala solo)
node_modules/
.pnpm-store/

# Compilación (Archivos temporales de Vite)
dist/
dist-ssr/
dev-dist/
*.local

# Secretos y Variables de Entorno (CRÍTICO: No subir)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema (Archivos basura de Mac/Windows)
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace

# Firebase
.firebase/

# Playwright
playwright-report/
test-results/
 playwright/.cache/

# E2E Tests - Environment
e2e/.env
!.env.test

# Storybook
storybook-static
.nyc_output
*storybook.log
